@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Noto Sans', sans-serif;
}